@model Activity.Web.Data.Entidades.Activity

@{
    ViewData["Title"] = "Details";
}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h4 style="text-align:center">Reporte de Tiempos</h4>
<br />
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Descripcion)
    </dd>
</dl>

<div>
    <a asp-action="AddTimeActivity" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Adicionar Tiempo</a>
    <a asp-action="Index" class="btn btn-warning"><i class="fa fa-chevron-left"></i> Atrás</a>
</div>

<h4 style="text-align:center">Seguimiento Tiempo Registrado</h4>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


